# Sanity CMS
# Get these from sanity.io/manage after creating a project
VITE_SANITY_PROJECT_ID=
VITE_SANITY_DATASET=production
VITE_SANITY_API_VERSION=2025-01-01
sanity_api_key=skw3BJiogdLOx7wBaUBYkLIabKwxsEOH0CGEGDYQvIIZb34HFjJgkYO8QlwGUxolnPRAXbhkNZHP5VmYHKvzpLruZqbcOcJUCh12SIaokfcOV31RAerUXmSicvcZZkiumLa46LDDHYs7xHVegEDmNucq97Lu2mlxRw2dYy5ziIZ7AkPKGP4F